{% extends "employees_menu/layout/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 mt-5">
                <div class="text-center mb-5">
                    <img src="{% static 'employees_menu/images/title.png' %}" alt="LOGO" class="img-fluid">
                </div>

                <div>                  
                  {% if message %}
                    <div class="alert alert-info text-center mt-5" role="alert">
                      {{ message }}
                    </div>
                  {% endif %}
                  {% if success %}
                    <div class="alert alert-success text-center mt-5" role="alert">
                      {{ success }}
                    </div>
                  {% endif %}
                </div>

                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                      <label for="SelectLunch">Lunch Selected</label>
                      {{ form.lunch }}
                      <div class="erros-form-field">
                        {{ form.lunch.errors }}
                      </div>
                    </div>
                    <div class="form-group mb-2">
                      <label for="SelectEmployee">Employee</label>
                      {{ form.employee }}
                      <div class="erros-form-field">
                        {{ form.employee.errors }}                               
                      </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="TextAreaNote">Note</label>
                        {{ form.note }}
                        <div class="erros-form-field">
                          {{ form.note.errors }}                               
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
                                
            </div>      
            <div class="col-lg-2"></div>      
        </div>
    </div>
  {% endblock %}
