{% extends "employees_menu/layout/base_panel.html" %}
{% load static %}

{% block content %}  

<style>
    .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    }

    .form-signin .checkbox {
    font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
    z-index: 2;
    }

    .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

</style>

<main class="form-signin">

    <h1 class="h3 mb-3 fw-normal">Sign in</h1>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}     
        <button class="w-100 btn btn-lg btn-dark" type="submit">Sign in</button>
    </form>

</main>
{% endblock %}
