{% extends "employees_menu/layout/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">            
            <div class="col-md-12 mt-5">

                <div class="text-center mb-5">
                    <img src="{% static 'employees_menu/images/title.png' %}" alt="LOGO" class="img-fluid">
                </div>                

                {% if not menu %}
                  <div class="alert alert-info text-center mt-5" role="alert">
                    Menu not available, please check back later
                  </div>
                {% else %}                

                  {% for lunch in menu %}
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{{ lunch.photo.url }}" class="img-fluid rounded-start" alt="MENU">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{{ lunch.name }}</h5>
                            <p class="card-text">{{ lunch.description }}</p>
                            <a href="{%url 'menus:new_order' lunch.id  %}" class="btn btn-dark">Order Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}                                            


            </div>
        </div>
    </div>
  {% endblock %}
